<html>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         <p>tmax: <input type = "text" name = "tmax" /></p>
         <p>m: <input type = "text" name = "m" /></p>
         <p>b: <input type = "text" name = "b" /></p>
         <p>y0: <input type = "text" name = "y0" /></p>
         <p>v0: <input type = "text" name = "v0" /></p>
         <p>target: <input type = "text" name = "target" /></p>
         <p>v_opt: <input type = "text" name = "v_opt" /></p>
         <p>f_max: <input type = "text" name = "f_max" /></p>
         <p>user_r_h: <input type = "text" name = "use_r_h" /></p>

<!--t0, tmax, m=750, b=180.9, y0=0, v0=0, target=100, v_opt=3.5, f_max=3000, use_r_h=True-->
<!--          tmax, m=750, b=180.9, y0=0, v0=0, target=100, pp=(50, 0.05, 50)-->
<!--         <p>Chemistry <input type = "text" name = "chemistry" /></p>-->
<!--         <p>Maths <input type ="text" name = "Mathematics" /></p>-->
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>